input, textarea {
   border-radius: 5px;
   border: none;
   padding: .2rem;
   background-color: var(--color-white);
   color: var(--color-black);
}

textarea {
    width: 99%;
    min-height: 10rem;
    resize: none;
}